![imagen](./img/guj36aqa.png)

# AGRESIONES LGTBIFÓBICAS EN ESPAÑA. 
## Evolución y análisis de subgrupos.

### TEMA

Este proyecto tiene como objetivo llevar a cabo un análisis exhaustivo de los delitos de odio registrados en España desde 2014 hasta 2023, segmentado por comunidades autónomas. La meta es identificar tendencias, patrones y variaciones en la incidencia de estos delitos a lo largo del tiempo y en diferentes regiones del país. Además, se buscará enriquecer el análisis con un dataset que incluya diversas identidades y realidades del colectivo LGTBIQ+.

### HIPÓTESIS

HIPÓTESIS PRINCIPAL: El aumento de las agresiones al colectivo LGTBIQ+ en el estado español.

SUB-HIPÓTESIS:

- Incremento de Delitos de Odio: Se hipotetiza que ha habido un aumento significativo en la cantidad de delitos de odio en España entre 2014 y 2023.

- Variabilidad por Comunidades Autónomas: Se plantea la hipótesis de que existen diferencias notables en la incidencia de delitos de odio entre comunidades autónomas. Confirmar o desmentir los sesgos centralistas vs. sesgos provinciales.
- Identificación de Subgrupos Vulnerables: Se sugiere que dentro del colectivo LGTBIQ+, ciertos subgrupos (como personas trans, no binarias, bisexuales, asexuales) son más propensos a sufrir delitos de odio, lo que resalta la necesidad de un análisis detallado sobre las realidades y experiencias específicas de estos grupos.

- Impacto de la Legislación: Se plantea la hipótesis de que la implementación de políticas públicas y leyes contra la discriminación en ciertas comunidades autónomas está asociada con una disminución de los delitos de odio en esas áreas, sugiriendo que las medidas legislativas pueden ser efectivas en la reducción de la violencia. También el análisis de los años en los que ha habido elecciones estatales y autonómicas con fuertes impactos.

## OBTENCIÓN DE LOS DATOS

### DATASETS Y FUENTES ALTERNATIVAS DE DATOS

**PRIMER DATASET**
Para obtener información sobre los registros de agresiones racistas y LGTBIfóbicas. Portal estadístico de criminalidad.
- Hechos conocidos por causa delitos de odio por CC.AA. desde el 2014 hasta el 2024.


**SEGUNDO DATASET**
Más detalle y variedad en clasificaicón de agresions LGTBIfóbicas.
- Informe de incidentes de odio motivados por LGTBIfobia. Intención de conseguir un csv o scrappear los datos: Completar los datos con modalidades e identidades. (Varios años)
(https://contraelodio.org/wp/informe-lgtbifobia-madrid/)

**TERCER DATASET**
Barómetro para comparar las agresiones de España con el resto de Europa.
- Special Eurobarometer 493: Discrimination in the EU (including LGBTI) (https://data.europa.eu/data/datasets/s2251_91_4_493_eng?locale=en)

**CUARTO DATASET**
Recurso sobre legislación en materia LGTBIQ+ en el mundo.
- Sexual Orientation Laws | EDA
(https://www.kaggle.com/code/chaitanya99/sexual-orientation-laws-eda/report)

**QUINTO DATASET**
Legislación en materia LGTBIQ+ en el estado español.
- ILGA dataset, Spain LGTBI (https://database.ilga.org/spain-lgbti)

SITUACIÓN DE LOS DATASETS

La gran mayoría no son dataset crudos, ni csv ni otro archivo del estilo. Son archivos .pdf de los que se scrappearán los datos y se trabajarán en crudo.

In [1]:
print("Hola")

Hola

In [2]:
import pandas as pd
data1 = pd.read_csv("data/EDACC.AA._14-23.csv")
data1
# data2 = pd.read_csv("data/omophobia.csv")

,ORIENTACIÓN SEXUAL E IDENTIDAD DE GÉNERO,TOTAL NACIONAL,ANDALUCÍA,ARAGÓN,ASTURIAS (PRINCIPADO DE),BALEARS (ILLES),CANARIAS,CANTABRIA,CASTILLA Y LEÓN,CASTILLA - LA MANCHA,...,GALICIA,MADRID (COMUNIDAD DE),MURCIA (REGIÓN DE),NAVARRA (COMUNIDAD FORAL DE),PAÍS VASCO,RIOJA (LA),CIUDAD AUTÓNOMA DE CEUTA,CIUDAD AUTÓNOMA DE MELILLA,EN EL EXTRANJERO,DESCONOCIDO
0,2023,530,80,15,10,9,35,2,28,12,...,24,71,11,6,37,2,1,2,1,0
1,2022,464,68,9,9,2,18,6,15,20,...,11,51,10,8,88,0,0,1,0,0
2,2021,477,64,13,10,10,15,4,18,7,...,23,75,7,4,65,0,0,2,0,1
3,2020,282,36,3,1,5,14,1,8,7,...,5,42,4,4,45,0,0,7,0,0
4,2019,283,42,2,6,1,14,1,16,5,...,12,42,3,0,12,0,0,1,1,1
5,2018,259,36,6,5,6,5,1,5,7,...,10,42,4,1,34,1,0,2,1,0
6,2017,271,18,3,2,1,17,0,7,6,...,6,39,5,5,30,0,0,1,1,0
7,2016,230,30,5,1,4,2,3,4,4,...,10,42,2,10,30,0,0,3,0,0
8,2015,169,15,4,1,4,6,2,5,6,...,4,19,4,5,27,0,0,0,0,0
9,2014,513,188,36,15,41,16,0,19,15,...,43,26,11,9,14,0,2,2,2,0

In [17]:
data4 = pd.read_csv("data/omophobia.csv", delimiter = ";", encoding='latin-1')
data4

,COUNTRY,CSSSA LEGAL?,DATE OF DECRIM,MAX PENALTY,CONST.,BROAD PROT.,EMPLOY.,HATE CRIME,INCITEMENT,BAN CONV. THERAPIES,SAME SEX MARRIAGE,CIVIL UNIONS,JOINT ADOPTION,SECOND PARENT ADOPTION
0,Algeria,NO,-,2,NO,NO,NO,NO,NO,NO,NO,NO,NO,NO
1,Angola,YES,2021,-,NO,YES,YES,YES,YES,NO,NO,NO,NO,NO
2,Benin,YES,NEVER CRIM,-,NO,NO,NO,NO,NO,NO,NO,NO,NO,NO
3,Botswana,YES,2019,-,NO,NO,YES,NO,NO,NO,NO,NO,NO,NO
4,Burkina Faso,YES,NEVER CRIM,-,NO,NO,NO,NO,NO,NO,NO,NO,NO,NO
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
236,Tokelau (NZ),YES,2007,-,NaN,NO,NO,NO,NO,NO,NO,NO,NO,NO
237,Turks and Caicos (UK),YES,2001,-,NaN,YES,YES,NO,NO,NO,NO,NO,NO,NO
238,US Virgin Islands (USA),YES,1985,-,NaN,NO,NO,YES,NO,NO,YES,NO,YES,YES
239,Vatican City,YES,1890,-,NO,NO,NO,NO,NO,NO,NO,NO,NO,NO
240,Wallis and Futuna (FR),YES,NEVER CRIM,-,NaN,YES,YES,YES,YES,NO,YES,YES,YES,YES

CSVs redactados a mano:
1. Organización de agresiones por identidad
2. Organización de agresiones por sexualidad

In [10]:
data5 = pd.read_csv("data/identidad2021.csv")
data6 = pd.read_csv("data/identidad2022.csv")
data7 = pd.read_csv("data/identidad2023.csv")
data8 = pd.read_csv("data/orientacion2021.csv")
data9 = pd.read_csv("data/orientacion2022.csv")
data10 = pd.read_csv("data/orientacion2023.csv")
display(data5, data6, data7, data8, data9, data10)

  Sexo/Id Sexual o Género  Casos
0              Hombre Cis    128
1            Hombre Trans      9
2               Mujer Cis     21
3             Mujer Trans     27
4      Persona no binaria      2
5                   Total    187
6             Desconocido     24

  Sexo-id sexual/género  Casos  Porcentaje
0            Hombre Cis    103        67.7
1          Hombre Trans      5         3.3
2             Mujer Cis     19        12.5
3           Mujer Trans     21        13.8
4    Persona no binaria      4         2.6
5                 Total    152       100.0
6           Desconocido     21         0.0

  Sexo/Identidad  Casos  Porcentaje
0     Hombre Cis     94        50.0
1   Hombre Trans      9         4.8
2      Mujer Cis     40        21.3
3    Mujer Trans     35        18.6
4     No Binaria      9         4.8
5       Intersex      1         0.5
6          Total    188       100.0
7    Desconocido     50         0.0

    Orientación  Casos
0           Gay    125
1      Lesbiana     19
2      Bisexual      7
3  Heterosexual     12
4          Otro      1
5         Total    164

    Orientación  Casos  Porcentaje
0           Gay    112        78.3
1      Lesbiana     16        11.1
2      Bisexual      3         2.1
3  Heterosexual     12         8.4
4         Total    143       100.0
5   Desconocido     42         0.0

  Orientación Sexual  Casos  Porcentaje
0                Gay     83        66.4
1           Lesbiana     23        18.4
2           Bisexual     11         8.8
3       Heterosexual      8         6.4
4              Total    125       100.0
5        Desconocido    113         0.0

# PLANIFICACIÓN DEL ANÁLISIS Y ESTRUCTURA

Empezamos definiendo la estructura del análisis, la cual será, teniendo en cuenta las hipótesis a demostrar:
1. Introducción:
¿que es crimen de odio, no toxdos estan registrados pq depedne de denuncias.

2. Evolución por años:
Comparación con gráficas de la evolución que han tenido las agresiones, comentar cuantas agresiones estatales ha habido por año, indicando cual ha tenido menos, cual más, cual es la media y cual es la tendencia.

3. Evolución geográfica: Mapas de calor por año para ver la evolución por comunidades autónomas. Tb gráfica con eje X temporal y eje Y comunidades, para ver las evoluciones de cada una. Gráficas tipo quesito o asi para ver. Ranking de las más peligrosas y las menos. Cuales estan por encima de la media y cuales no.

4. Grupos más vulnerables: Comentar la evolución de las agresiones a x identidades, para intentar ver cual es el colectivo más vulnerable y si alguno ha tenido una tendencia a la baja

5. Impacto posible de la legislacion en años concreto.

6. Conclusiones

### ¿Qué datos concretos necesitamos extraer y analizar para cada putno?¿Y qué representaciones gráficas proponemos?

2. Total estatal 2014-2023. max del total, min del total, media agresiones, tendencia alza o baja?<br>
Gráficos: grafica total años evolucion. 

3.  Por año: max cada comunidad. min cada comunidad. media de cada comunidad. cuales en 2023 estan por encima de la media. tendencia comparativa de todas<br>
Gráficos: mapa de calor por cada año. grafica evolucion años/agresiones/cc.aa.(varias lineas en la grafica). quesito con el total hasta 2023 por cc.aa. rankings comparativos 2014 vs. 2023: top 3, min 3 y mediana y cuantas por enmcima o debajo de la media(desviacion tipica).

4.  Agresiones por colectivo a lo largo de los años, tendencias de cada colectivo.<br>
Gráficos: otra grafica años/agresiones/colectivos (varias lineas x cada colectivo). ranking 201Xvs2024 de min, max, mediana, desviacion tipica

5. Observar gráficas de cada año con impacto legislativo del total estatal y de colectivos.

6. (Conclusiones):<br>
han aumentado o disminuido en total estatal las agresiones?<br>
en que cc.aa. hay una tendencia a la baja y en cuales a la alza?<br>
nucleos metropolitanos vs. zonas despobladas¿donde hay mas? (habrá que relacionar la cantidad de habitantes?)<br>
que colectivos han sufrido más agresiones (tener en cuenta la visibilidad) cuales han disminuido su probabilidad de sufrir agresiones y cuales han aumentado?<br>
impactos de la legislacion?