In [11]:
import pandas as pd
pd.read_csv("data/EDACC.AA._14-23.csv", delimiter = ",")

,ORIENTACIÓN SEXUAL E IDENTIDAD DE GÉNERO,TOTAL NACIONAL,ORIENTACIÓN SEXUAL E IDENTIDAD DE GÉNERO.1,ARAGÓN,ASTURIAS (PRINCIPADO DE),BALEARS (ILLES),CANARIAS,CANTABRIA,CASTILLA Y LEÓN,CASTILLA - LA MANCHA,...,GALICIA,MADRID (COMUNIDAD DE),MURCIA (REGIÓN DE),NAVARRA (COMUNIDAD FORAL DE),PAÍS VASCO,RIOJA (LA),CIUDAD AUTÓNOMA DE CEUTA,CIUDAD AUTÓNOMA DE MELILLA,EN EL EXTRANJERO,DESCONOCIDO
0,2023,530,80,15,10,9,35,2,28,12,...,24,71,11,6,37,2,1,2,1,0
1,2022,464,68,9,9,2,18,6,15,20,...,11,51,10,8,88,0,0,1,0,0
2,2021,477,64,13,10,10,15,4,18,7,...,23,75,7,4,65,0,0,2,0,1
3,2020,282,36,3,1,5,14,1,8,7,...,5,42,4,4,45,0,0,7,0,0
4,2019,283,42,2,6,1,14,1,16,5,...,12,42,3,0,12,0,0,1,1,1
5,2018,259,36,6,5,6,5,1,5,7,...,10,42,4,1,34,1,0,2,1,0
6,2017,271,18,3,2,1,17,0,7,6,...,6,39,5,5,30,0,0,1,1,0
7,2016,230,30,5,1,4,2,3,4,4,...,10,42,2,10,30,0,0,3,0,0
8,2015,169,15,4,1,4,6,2,5,6,...,4,19,4,5,27,0,0,0,0,0
9,2014,513,188,36,15,41,16,0,19,15,...,43,26,11,9,14,0,2,2,2,0